* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timer {
  font-size: 80px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.buttons {
  display: flex;
  gap: 100px;
}
#start,
#stop,
#reset {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--clr);
  color: white;
  cursor: pointer;
  /* margin-inline: 16px; */
}
/* #stop {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin: auto;
}
#reset {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
  margin: auto;
} */
