body {
  background-color: black;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
span {
  background: url('https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png');
  background-size: cover;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate();
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
