@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: 'Poiret One', sans-serif;
  overflow: hidden;
  background: url('https://media.istockphoto.com/id/1306130049/photo/wind-turbines-in-the-ocean.jpg?s=2048x2048&w=is&k=20&c=xVOZOe4W4q52MAd826VNcJBhK87Kudzcd8BAsyOTnaQ=');
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 95%;
  height: 100vh;
  margin: auto;
}
.digitalClock {
  color: rgb(17, 16, 16);
  padding: 10px 20px;
  width: fit-content;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.digitalClock h1 {
  display: inline;
  margin: 0 10px;
  font-size: 80px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #bar2 {
    display: none;
  }
  .digitalClock {
    text-align: center;
    width: fit-content;
  }
  .digitalClock h1 {
    display: block;
  }
}

@media (max-width: 480px) {
  .digitalClock h1 {
    font-size: 64px;
  }
}
