h4 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #ebe3e3;
  margin-top: 30px;
  font-weight: bold;
  font-size: 40px;
}
.container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rock,
.paper,
.scissors {
  height: 90px;
  width: 90px;
  object-fit: cover;
}
body {
  background-color: #181717;
}
.rock-div,
.paper-div,
.scissors-div {
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100px;
  border: 3px solid #ffffff;
  margin-right: 30px;
}
