h4 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #ebe3e3;
  margin-top: 30px;
  font-weight: bold;
  font-size: 40px;
}
.container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.move-icon {
  height: 90px;
  width: 90px;
  object-fit: cover;
}
body {
  background-color: #181717;
}
.rock-div,
.paper-div,
.scissors-div {
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100px;
  border: 3px solid #ffffff;
  margin-right: 30px;
}
.reset-button {
  margin-top: 100px;
  height: 40px;
  width: 120px;
  margin-left: 900px;
}
.computer-move {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  color: #ebe3e3;
  text-align: center;
}
.result {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}
.score {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  color: #ebe3e3;
  text-align: center;
}
