h4 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-top: 30px;
  font-weight: bold;
  font-size: 40px;
}
.container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rock,
.paper,
.scissors {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 1px solid rgb(238, 238, 238);
  object-fit: cover;
  margin: 20px;
}
body {
  background-color: #f0f0f0;
}
