* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'mumblers demo';
  background-color: orange;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
}
.grocery {
  width: 600px;
  min-height: 100vh;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px 24px 0 gray;
}

.grocery h1 {
  text-align: center;
  padding: 20px;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 1em;
}
.grocery i {
  color: orange;
  font-size: 2rem;
}
.grocery input {
  font-family: inherit;
  width: 70%;

  font-size: 1.5rem;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}
#allItems h2 {
  text-align: center;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .grocery h1 {
    font-size: 2rem;
  }
  .grocery i {
    font-size: 1.5rem;
  }
  .grocery input {
    font-size: 1rem;
  }
  .grocery h2 {
    margin-left: 25px;
    font-size: 1.5rem;
  }
}
