* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: conic-gradient(
    from -90deg at bottom center,
    papayawhip,
    peachpuff
  );
}
h1 {
  margin-bottom: 40px;
  color: #313b72;
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-bottom: 20px;
}
.box {
  align-items: center;
  color: #313b72;
  font-size: 60px;
  border-radius: 10px;
  background-color: #f3e2e2;
  font-weight: bold;
  cursor: pointer;
}
.box.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}
#reset-button {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #313b72;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  justify-items: center;
  align-items: center;
}
#reset-button:hover {
  background-color: #3e4b98;
}
#new-button {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #313b72;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  justify-items: center;
  align-items: center;
  margin: 10px 10px 0px 0px;
  font-weight: bold;
}
#new-button:hover {
  background-color: #3e4b98;
}

#message,
.score {
  border: 1px #313b72;
  width: 100vh;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #151e3a;
  font-weight: bold;
  text-align: center;
  background-color: #f3e2e2;
}
.msg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
  pointer-events: none;
  cursor: not-allowed;
}
