* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(78, 35, 35);
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  z-index: 1;
}
header nav h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#header-title a {
  text-decoration: none;
  color: white;
}

header nav form {
  display: flex;
  justify-content: center;
}

form input {
  flex-grow: 1;
  margin-right: 10px;
}
form button,
input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
form button {
  background-color: rgb(231, 82, 18);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.2s ease-in-out;
}
form button:hover,
.recipeBtn:hover {
  background-color: rgb(234, 112, 55);
}
.recipe-container {
  text-align: center;
  /* margin-top: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 95%;
  margin: 40px auto;
  place-items: center;
}
.meal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  color: black;
  /* cursor: pointer; */
  max-width: 350px;
  transition: transform 0.3s ease-in-out;
}
.meal:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
.meal img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.meal h3 {
  margin-bottom: 10px;
}
.meal p {
  font-size: 0.9rem;
  line-height: 1.4;
}
.recipeBtn {
  margin: 15px auto;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(231, 82, 18);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  /* display: none; */
}

.videoBtn {
  margin: 15px auto;
  padding: 10px;
  /* font-size: 18px; */
  background-color: rgb(15, 15, 16);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font: fit-content;
  /* display: none; */
}
.videoBtn:hover {
  background-color: rgb(48, 48, 48);
}
.recipe-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: brown;
  border-radius: 5px;
  width: 40%;
  height: 60%;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
}
.recipe-details-content {
  padding: 27px;
}
.recipe-details::-webkit-scrollbar {
  width: 15px;
}
.recipe-details::-webkit-scrollbar-thumb {
  background-color: rgb(112, 110, 110);
  border-radius: 4px;
  --webkit-border-radius: 16px;
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(112, 110, 110);
  /* border-radius: 4px;
  --webkit-border-radius: 16px; */
}

body::-webkit-scrollbar-track {
  background-color: rgb(221, 216, 216);
}

.recipe-title {
  text-align: center;
  margin: 20px 0;
  text-decoration: underline;
}
.ingredients-list {
  margin-bottom: 20px;
  margin-left: 20px;
}
.instructions p {
  margin-bottom: 10px;
  line-height: 1.6;
  white-space: pre-line;
}
.recipeCloseBtn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: rgb(231, 82, 18);
  color: black;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 240px) and (max-width: 579px) {
  header nav {
    flex-direction: column;
    gap: 15px;
  }
  header nav form {
    width: 100%;
  }
  .recipe-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .meal {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
}

/* @media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
    gap: 15px;
  }
   header nav form {
    width: 100%;
  } 
} */
