body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 22px;
  background-color: black;
  color: cyan;
  text-shadow: 0 0 10px cyan;
}

span {
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
