body {
  /* background-color: #c7d5e2; */

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 22px;
  background-color: black;
  color: cyan;
  text-shadow: 0 0 7px cyan;
}
span {
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation: blinker 1s linear infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quote h1 {
  margin-bottom: 20px;
  font-size: 25px;
  /* font-weight: bold; */
}
.new-quote {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

#msg {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}

@media (max-width: 480px) {
  #msg {
    font-size: 18px;
    margin: 10px;
  }
}
