* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  width: 100%;
  margin-block: 40px;
}
header {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  max-width: 800px;
}

header h1 {
  color: #636161;
  margin-bottom: 10px;
}
.search-container {
  margin-top: 20px;
  position: relative;
}

.search-container input {
  width: 100%;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
}
.search-container i {
  position: absolute;
  right: 10px;
  bottom: 12px;
  color: #888;
}
.image-container {
  margin-block: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container img {
  width: 300px;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
}

.image-container .imageDiv {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(224, 199, 199, 0.4);
  transition: height 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageDiv:hover .overlay {
  height: 100%;
}

.overlay h3 {
  color: white;
  text-align: center;
  font-size: 20px;
  display: none;
}
.imageDiv:hover .overlay h3 {
  display: block;
}
.loadMoreBtn {
  border: none;
  background-color: #57adeb;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: none;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 50px 0;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
    margin-block: 20px;
  }

  .image-container {
    margin-block: 20px;
  }
}
