* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background-color: #c3c3c3;
}
.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  border: none;
  background: none;
}
.sidebar {
  background-color: rgb(21, 212, 212);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.sidebar.show {
  transform: translateX(0);
}
.sidebar ul {
  margin: 20px;
  list-style-type: none;
}
nav .sidebar ul li {
  margin: 20px 0;
  padding: 10px;
  transition: all 0.3s ease;
}
nav .sidebar ul li:hover {
  background-color: blue;
  border-radius: 4px;
}
nav .sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
nav .sidebar ul li a i {
  margin-right: 10px;
}
nav .sidebar .heading {
  color: white;
  font-size: 30px;
  text-decoration: underline;
  padding: 30px;
  background-color: blue;
}
