@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: #f0f0f0;
  font-size: 1rem;
}

header {
  background-color: white;
  color: black;
}
button {
  cursor: pointer;
  padding: 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: whitesmoke;
}
button:hover {
  background-color: #cecccc;
}
.container {
  width: 95%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  background-color: white;
}
.nav button {
  font-size: 1rem;
  font-family: inherit;
}
.create-box {
  width: 380px;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.create-box textarea {
  width: 100%;

  font-family: inherit;
  font-size: 1rem;

  border: 1px solid #ccc;
  border-radius: 5px;
}
.create-box button {
  margin-top: 10px;
  width: fit-content;
}

.flashcards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  margin: auto;
  width: 100%;
  padding: 0 10px;
}
.flashcard {
  width: 270px;
  height: 180px;
  background-color: white;
  word-wrap: break-word;
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.flashcard h2 {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .flashcard {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .create-box {
    width: 100%;
    padding: 10px;
  }
  .flashcard {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
