@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  background: #89be9c;
  color: white;
}
.container {
  width: 95%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;
}

.nav h2 {
  font-size: 2rem;
}
.user-input {
  text-align: center;
  width: 350px;
}
.user-input input {
  width: 80%;
  padding: 8px;
  border: none;
  outline: none;

  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* -webkit-animation: all 0.3s ease-in-out;
  -moz-animation: all 0.3s ease-in-out;
  -o-animation: all 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out;
}

.user-input input:focus {
  border: 1px solid #08651e;
  box-shadow: 0 0 10px #08651e;
}
.user-input button {
  width: fit-content;
  padding: 8px;

  outline: none;

  background-color: lightgray;
  border: 1px solid white;
  color: black;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 1s;
}
.user-input button:hover {
  background-color: transparent;
  color: black;
}
.to-do-items {
  width: 500px;
  margin: auto;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 16px;
  width: 100%;
  height: auto;
  border-radius: 2px;
  color: black;
  background-color: white;
  margin-top: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.item:hover {
  box-shadow: 0 0 20px #08651e;
  border: 1px solid #08651e;
}
.item i {
  cursor: pointer;
  margin: 5px;
}

@media (max-width: 768px) {
  .nav {
    align-items: center;
    flex-direction: column;
  }
  .nav h2 {
    margin: 10px 0;
  }
  .user-input {
    width: 100%;
  }
  .to-do-items {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .user-input input {
    width: 74%;
  }
}
@media (max-width: 320px) {
  .user-input input {
    width: 60%;
  }
}
