@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Luckiest+Guy&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Luckiest Guy', cursive;
  background-color: #e6e6e6;
}
.container {
  padding: 20px;
  overflow: hidden;

  background-color: #fe4a49;
}
.container h1 {
  float: left;
  margin-left: 10px;
  color: white;
}
.container ul {
  margin-left: 60%;
}
.container li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
.container li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.current a::after {
  content: '_';
  background-color: white;
  font-size: 4px;
  display: block;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 82% 18%;
  justify-content: center;
  align-items: center;
}
.equation {
  font-size: 67px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.equation h1 {
  display: inline-block;
  padding: 20px;
}
.answers-options {
  font-size: 67px;
  margin-right: 10px;
}

.answers-options h1 {
  cursor: pointer;
  color: whitesmoke;
  background-color: #c1cdc5;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}
#answer1 {
  background-color: #4bbf73;
  transition: 1s;
}
#answer1:hover {
  background-color: white;
  color: #3da65a;
}
#answer2 {
  background-color: #ffd166;
  transition: 1s;
}
#answer2:hover {
  background-color: white;
  color: #ffd166;
}
#answer3 {
  background-color: #ee6c4d;
  transition: 1s;
}
#answer3:hover {
  background-color: white;
  color: #ee6c4d;
}
