body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* overflow: hidden; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.button {
  /* color: black; */
  height: 60px;
  width: 130px;
  border-radius: 8px;
  margin: 10px 1px;
  font-weight: 700;
  font-size: 20px;
}
.red {
  color: black;

  background-color: red;
}

.blue {
  color: black;

  background-color: blue;
}

.green {
  color: black;

  background-color: green;
}
.random {
  color: black;
  background-color: rgb(234, 213, 213);
  text-align: center;
}
.hexcode {
  /* position: relative; */
  margin-block: 10px;
  /* border: black 2px solid; */
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  /* width: fit-content; */
}
