body {
  background: linear-gradient(rgb(251, 186, 186), rgb(237, 217, 217));
  overflow: hidden;
}

button {
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  border: 1px solid rgb(232, 224, 224);
  border-radius: 5px;
  background-color: whitesmoke;
}

button:hover {
  background-color: rgb(232, 224, 224);
}
.container {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  border: 1px solid rgb(225, 218, 218);
  font-size: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  width: 500px;
  height: auto;
  margin: auto;
  padding: 0 20px;
  box-shadow: 0px 2px 4px 0px rgb(85, 85, 85);
}
.message input {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  padding: 8px 0;
  border-radius: 5px;
  border: 1px solid rgb(216, 210, 210);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 500px) {
  .message input {
    width: 75%;
  }
}
