@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Luckiest+Guy&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Comfortaa', sans-serif;
  background-color: black;
  color: white;
}
header {
  border-bottom: 5px solid orange;
}
.container {
  width: 95%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 0;
}
.nav h2 {
  font-size: 2.5rem;
}
.nav h2 a {
  color: black;
  text-decoration: none;
}

.search-box {
  position: relative;
  width: 350px;
}
.search-box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid gray;
}
input:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
}
.search-box i {
  position: absolute;
  right: 4%;
  top: 25%;
  color: black;
  transition: 1.5s;
  cursor: pointer;
}
.search-box i:hover {
  color: orange;
  transform: scale(1.2);
}
.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  /* margin-block: 80px; */
}
.imgContainer .img {
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;

  width: 470px;
  height: 400px;
  margin-top: 20px;
  background-position: 50% 50%;
  cursor: pointer;
  background-size: cover;
  /* border-radius: 2px; */
  position: relative;
}
.grid {
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  /* gap: 0.5px; */
}

.loadMoreBtn {
  border: none;
  background-color: orange;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  /* margin-top: 20px; */
  margin-block: 80px;
}

.tooltip {
  position: absolute;
  background-color: white;
  color: black;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.img:hover .tooltip {
  opacity: 1;
}

@media (min-width: 580px) and (max-width: 768px) {
  .grid {
    width: 100%;
    justify-content: center;
  }
  .img {
    width: 100%;
    height: auto;
  }
  .nav {
    justify-content: center;
  }
  .nav h2 {
    padding: 5px 0;
  }
}

@media (max-width: 570px) {
  .grid {
    width: 80%;
    justify-content: center;
  }
  .nav h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .search-box {
    width: 80%;
    margin: auto;
  }
  .search-box input {
    font-size: 0.9rem;
  }
}
