body {
  font-family: Arial, sans-serif;
  background-color: #62a87c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.counter {
  border: 5px solid #62a87c;

  height: 300px;
}
#count {
  font-size: 6rem;
  margin: 20px 0;
}
