* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgb(240, 240, 50),
    rgb(236, 88, 174)
  );
  color: white;
  font-weight: 600;
}
.container {
  border: 1px solid white;
  width: 400px;
  padding: 30px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.input-box {
  position: relative;
}
.input-box span {
  position: absolute;
  top: 15px;
  right: 1px;
  color: black;
  font-size: 28px;
  cursor: pointer;
  z-index: 2;
}
h1 {
  font-size: 1.4 rem;
  margin-block: 8px;
}
.passBox {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  width: 346px;
  font-size: 20px;
  border-radius: 5px;
  margin-block: 8px;
  text-overflow: ellipsis;
}

.row {
  margin-block: 8px;
  display: flex;
}
.row p,
.row label {
  flex-basis: 100%;
  font-size: 18px;
}
.row input[type='checkbox'] {
  transform: scale(1.5);
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
.generateBtn {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  background-color: rgb(236, 88, 174);
  font-size: 20px;
  margin-block: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}
.generateBtn:hover {
  background-color: rgb(240, 50, 120);
}
